
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}
body{
  width: 100%;
  height: auto;
}

.container{
  width: 100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
  background-size: cover;
  background-position: center;

}

header{
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.logo{
  width: 150px;
  margin-top: -35px;
}

.cat-box{
   height: 28px;
   width: 150px;
   background: transparent;
   border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.76);
   text-align: center;
   transition: 0.4s ease;
   margin-left: 150px;
   margin-top: 15px;
   font-weight: bold;
}

.cat-box:hover{
  background: rgb(30, 155, 30);
  color: white;
  border: none;
  font-weight: 300;
}

.sub-menu{
  display: none;
}
.cat-box:hover .sub-menu{
  display: block;
  background: rgb(30, 155, 30);
  margin-top: 15px;
  text-align: left;
}

.cat-box:hover .sub-menu ul{
  display: block;
  margin: 10px;
}
.cat-box:hover .sub-menu ul li{
  width: 120px;
  padding: 8px;
  border-bottom: 1px dotted white;
  list-style: none;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.cat-box:hover .sub-menu ul li a{
  color: white;
  transition: 0.4s ease;
  text-decoration: none;
}
.cat-box:hover .sub-menu ul li a:hover{
  color: rgb(6, 32, 6);
}
.cat-box:hover .sub-menu ul li:last-child{
  border-bottom: none;
}

header input{
  height: 28px;
  margin-top: 15px;
  margin-left: 1px;
  width: 180px;
  outline: none;
}

.icon{
  height: 28px;
  width: 40px;
  margin-top: 15px;
  background-color: rgb(28, 196, 28);
  border: none;
  color: white;
  border-radius: 3px;
  margin-left: 1px;
}

.acct{
  margin-top: 15px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.acct:hover{
  color:rgb(28, 196, 28) ;
}

nav{
    height: 30px;
    width: 100%;
    background-color: rgb(187, 187, 206);
    margin-top: -60px;
 }
nav ul{
  display: flex;
  text-align: center;
  justify-content: center;
}
nav ul li{
   list-style: none;
    margin-left: 80px;
    margin-top: 2px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s ease;
}
nav ul li a:hover{
  color: rgb(28, 196, 28);
}

.main-box{
  background: rgb(233, 233, 240);
  height: 67vh;
  width: 100%;
}
.row{
  width: 50%;
  float: left;
 }

 .row h5{
  margin-top: 70px;
  margin-left: 40px;
  font-size: 10px;
  font-weight: bold;

 }

 .row h1{
  margin-top: 15px;
  margin-left: 40px;
  font-size: 45px;
 }

 .row span{
  color: rgb(28, 196, 28);
 }
.row-btn{
    height: 30px;
    width: 100px;
    background: rgb(9, 211, 9);
    margin-left: 70px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.row-btn a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.img1{
  width: 100%;
}

.features{
  width: 100%;
  height: 50px;
  background:rgba(15, 15, 15, 0.114);
  margin-top: 10px;
  display: inline-flex;
}

.feature{
  margin-left: 60px;
  margin-top: 10px;

}
.feature h5{
  font-size: 13px;
  font-weight: bold;
}
 .feature p{
  font-size: 10px;
  font-weight: bold;
 }

 .collections{
  width: 100%;
  display: inline-flex;
 }
 .collection-boxes{
  margin-top: 20px;
 }

 .collection-boxes img{
  height: 250px;
  width: 200px;
  border-radius: 15px;
 }

 .img3{
  margin-left: 15px;
 }
.collection-boxes h6{
  font-size: 10px;
  margin-left: 35px;
  margin-top: 90px;
}
.collection-boxes h2{
  font-size: 25px;
  margin-left: 35px;
}

.collection-boxes h2 span{
  color: rgb(28, 196, 28);
}

.collection-boxes p{
  font-size: 10px;
  margin-left: 35px;
}

.collection-boxes a{
  font-size: 20px;
  color: rgb(18, 245, 18);
  text-decoration: line-through;
  margin-left: 35px;
}

.about{
  width: 100%;
  margin-top: 60px;
}

.about-text{
  width: 40%;
  float: left;
}
.about-text h1{
  font-size: 30px;
  color: rgb(18, 245, 18);
  text-transform: uppercase;
}

.abt-span{
  height: 4px;
  width: 100px;
  background: black;
  display: block;
  border-radius: 10px;
}

.about-text p{
  margin-top: 25px;
  font-size: 15px;
  font-weight: bold;
}

.about-img{
  width: 60%;
  float: left;
}

.img-5{
  width: 100%;
  border-radius: 15px;

}

.contact-btn{
  height: 30px;
  width: 100px;
  background: transparent;
  margin-top: 20px;
  border: 2px solid rgb(9, 211, 9);
  border-radius: 5px;
  text-align: center;
}

.arrivals{
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.arrivals h1{
  font-size: 20px;
}

.new-arrivals{
  display: inline-flex;
  width: 100%;
  margin-top: 15px;
}

.arrival img{
  width:  200px;
  height: 200px;
}
.arrival h6{
  font-size: 12px;
}

.arrival p{
  font-size: 10px;
  font-weight: bold;
}

.img-10{
  margin-left: 30px;
}

.stars{
  color: rgb(18, 245, 18);
}

footer{
  height: 60vh;
  width: 100%;
  background: black;
  margin-top: 20px;
  display: inline-flex;
  color: white;
}

.logo-item{
  display: block;
  margin-left: 60px;
}
.logo-item img{
 height: 250px;
 width: 250px;
 margin-top: -30px;
 margin-left: -20px;
}
.logo-item h4{
  font-size: 8px;
  margin-top: -170px;
  margin-left: 60px;

}

.logo-item h4 span{
  color: rgb(18, 245, 18);
}
.logo-item h3{
  color: rgb(18, 245, 18);
  margin-top: 80px;
  margin-left: 40px;

}
.logo-item p{
  font-size: 10px;
  margin-left: 41px;
}

.logo-item h1{
  font-size: 15px;
  color: rgb(18, 245, 18);
  margin-top: 70px;
}
.logo-item li{
  font-size: 10px;
  margin-top: 15px;
}















